PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=truthguard_super_secret_change_me
IMAGE_SERVICE_URL=http://localhost:8001
VIDEO_SERVICE_URL=http://localhost:8002
VOICE_SERVICE_URL=http://localhost:8003
MAX_UPLOAD_MB=250
DATA_DIR=./data
UPLOAD_DIR=./uploads
